<main>
    <section>
        <h1>PRODUCTOS EN TIEMPO REAL</h1>
        <div>
            {{#each allProducts}}
            <div id="productsClient">
            </div>
            {{/each}}
        </div>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/realTimeProducts.js"></script>