.mainContainer {
    background-color: #210124;
}

.productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.productContainer div {
    border: 2px solid #B3DEC1;
}

h2, p, h1{
    color: #FAFFFA;
    text-align: center;
}